<h2>Editar Consulta</h2>

<form action="/consultas/editar/{{consulta.id}}" method="POST">

<label>Data</label>

<input
type="date"
name="data"
value="{{consulta.data}}">

<label>Horário</label>

<input
type="time"
name="horario"
value="{{consulta.horario}}">

<label>Observação</label>

<textarea
name="observacao">{{consulta.observacao}}</textarea>

<input
type="hidden"
name="PacienteId"
value="{{consulta.PacienteId}}">

<input
type="hidden"
name="MedicoId"
value="{{consulta.MedicoId}}">

<br><br>

<button>

Atualizar

</button>

</form>
