<h2>Editar Médico</h2>

<form action="/medicos/editar/{{medico.id}}" method="POST">

<label>Nome</label>

<input
type="text"
name="nome"
value="{{medico.nome}}">

<label>Especialidade</label>

<input
type="text"
name="especialidade"
value="{{medico.especialidade}}">

<label>CRM</label>

<input
type="text"
name="crm"
value="{{medico.crm}}">

<label>Telefone</label>

<input
type="text"
name="telefone"
value="{{medico.telefone}}">

<br><br>

<button>

Atualizar

</button>

</form>
