<h2>Editar Paciente</h2>

<form action="/pacientes/editar/{{paciente.id}}" method="POST">

<label>Nome</label>

<input
type="text"
name="nome"
value="{{paciente.nome}}">

<label>CPF</label>

<input
type="text"
name="cpf"
value="{{paciente.cpf}}">

<label>Telefone</label>

<input
type="text"
name="telefone"
value="{{paciente.telefone}}">

<label>Email</label>

<input
type="email"
name="email"
value="{{paciente.email}}">

<label>Nascimento</label>

<input
type="date"
name="dataNascimento"
value="{{paciente.dataNascimento}}">

<br><br>

<button>

Atualizar

</button>

</form>
