<h2>Pacientes</h2>

<a href="/pacientes/cadastrar">
Cadastrar Paciente
</a>

<br><br>

<table>

<tr>

<th>Nome</th>
<th>CPF</th>
<th>Telefone</th>
<th>Email</th>
<th>Nascimento</th>
<th>Ações</th>

</tr>

{{#each pacientes}}

<tr>

<td>{{nome}}</td>

<td>{{cpf}}</td>

<td>{{telefone}}</td>

<td>{{email}}</td>

<td>{{dataNascimento}}</td>

<td>

<a href="/pacientes/editar/{{id}}">
Editar
</a>

|

<a href="/pacientes/excluir/{{id}}">
Excluir
</a>

</td>

</tr>

{{/each}}

</table>
